.reveal{
    opacity:0;
    animation:reveal 1s cubic-bezier(0,.1,.5,1) 1 normal forwards;
}
.reveal-particles{
    opacity:0;
    animation:reveal-particles 1s cubic-bezier(0,.1,.5,1) 1 normal forwards;
}
.second{
    animation-delay:1s;
}
.third{
    animation-delay:2s;
}
.fourth{
    animation-delay:2.75s;
}

@keyframes reveal{
    0%{
        opacity:0;
        transform:translateY(100%);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
@keyframes reveal-particles{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}