@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
#particles-js{
    position:absolute;
    width:100%;
    height:100%;
    z-index:1;
}
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.hero{
    background-image:url('../img/hero.jpg');
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0,.6)),url('../img/hero.jpg');
    height:800px;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
}
.hero-info{
    width:800px;
    opacity:1;
    color:white;
    font-family:'Open Sans',sans-serif;
    font-size:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    z-index:2;
}
@media (max-width:792px){
    .hero-info{
        font-size:45px;
    }
}
@media (max-width:686px){
    .hero-info{
        font-size:40px;
    }
}
@media (max-width:614px){
    .hero-info{
        font-size:35px;
    }
}
@media (max-width:549px){
    .hero-info{
        font-size:30px;
    }
}
.hero-info > span{
    display:block;
    text-align:center;
}
.hero-info > button{
    margin-top:20px;
    width:190px;
    height:50px;
    background-color:transparent;
    color:white;
    border:2px solid white;
    outline:none;
    font-family:'Open Sans';
    font-size:16px;
}
.hero-info > button:hover{
    cursor:pointer;
}
.m-works{
    height:870px;
}
.m-works-tabs-ctn{
    margin-top:100px;
    height:50px;
    display:flex;
    justify-content:center;
}
.m-works-tabs{
    height:100%;
    width:310px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-family:'Open Sans';
}
.o-works-tab{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-left:20px;
    padding-right:20px;
    cursor:pointer;
}
.c-works-tab-selected{
    background-color:#777;
    color:white;
}
.works-tab:hover{
    background-color:#777;
    color:white;
    cursor:pointer;
}
.m-works-posts-ctn{
    margin-top:80px;
    height:635px;
    display:grid;
    grid-template-columns:1fr auto 1fr;
}
@media (max-width:1304px){
    .m-works-posts-ctn{
        height:967px;
    }
}
@media (max-width:869px){
    .m-works-posts-ctn{
        height:1923px;
    }
}
.m-works-posts{
    width:1150px;
    height:100%;
    grid-column:2/3;
    display:grid;
    grid-template-columns:repeat(3,364px);
    justify-content:space-between;
    align-content:space-between;
}
@media (max-width:1304px){
    .m-works-posts{
        grid-template-columns:repeat(2, 364px);
        width:757px;
    }
}
@media (max-width:869px){
    .m-works-posts{
        grid-template-columns:364px;
        width:364px;
    }
}
.o-works-post{
    height:300px;
    cursor:pointer;
}
.o-works-post > img{
    width:100%;
    height:100%;
}
.m-works-pagination-ctn{
    height:50px;
    margin-top:30px;
    display:flex;
    justify-content:center;
}
.m-works-pagination{
    height:100%;
    width:330px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.c-works-pagination-previous{
    width:50px;
    height:100%;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.c-works-pagination-previous:hover{
    background-color:#777;
    color:white;
}
.c-works-pagination-next{
    width:50px;
    height:100%;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.c-works-pagination-next:hover{
    background-color:#777;
    color:white;
}
.m-works-pagination > div{
    border:1px solid #777;
}
.m-modal{
    background-color:rgba(0, 0, 0, 0.6);
    position:fixed;
    width:100%;
    height:100%;
    z-index:3;
    top:0;
    left:0;
    display:none;
    align-items:center;
    justify-content:center;
}
.c-modal-exit{
    position:absolute;
    right:-50px;
    top:-50px;
    color:white;
    cursor:pointer;
    font-size:20px;
    font-family:'Open Sans',sans-serif;
    font-weight:700;
}
@media (max-width:1340px){
    .c-modal-exit{
        right:0;
    }
}
.m-modal-post{
    width:1200px;
    height:650px;
    position:relative;
    display:flex;
    flex-direction:row;
}
@media (max-width:1293px){
    .m-modal-post{
        flex-direction:column;
        width:900px;
    }
}
.c-modal-img{
    height:100%;
    width:900px;
    overflow:auto;
    position:relative;
}
.c-modal-img > img{
    width:100%;
}
.c-modal-links{
    height:100%;
    width:300px;
    padding-top:25px;
    padding-left:25px;
    background-color:rgba(245, 246, 248);
}
@media (max-width:1293px){
    .c-modal-links{
        position:absolute;
        height:120px;
        bottom:0;
        width:100%;
        background-color:rgba(245, 246, 248, 0.7);
    }
}
.c-modal-links-name{
    height:40px;
    font-family:'Poppins',sans-serif;
    margin-bottom:5px;
}
.c-modal-links-wrapper{
    border-radius:5px;
    width:250px;
    height:150px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:white;
}
@media (max-width:1293px){
    .c-modal-links-wrapper{
        width:90%;
        flex-direction:row;
        justify-content:space-around;
        height:40px;
    }
}
.c-modal-links-wrapper > div{
    display:flex;
    align-items:center;
    padding-left:15px;
}
.c-modal-links-wrapper > div > img{
    margin-right:15px;
}
.c-modal-links-wrapper > div > a{
    font-family:'Poppins',sans-serif;
    text-decoration:none;
    color:#000;
}
.c-modal-links__website{
    height:40px;
}
.c-modal-links__img{
    height:40px;
}
.c-modal-links__file{
    height:40px;
}